//$small-width-sidebar:50px;
$width-menu-left-init:210px;
//$width-menu-left-xs:50px;
//$width-menu-left-sm:210px;
//$width-sidebar-gentellela-sm:70px;
//$width-sidebar-gentellela-md:230px;
//WIDTHS PARA THEMA JHON
$w-sidebar-left-md:13rem;
$w-sidebar-left-sm:70px;
// $color-theme:#2A3F54;
$text-color-theme:#73879C;

$text-color-breadcrumb: #69ABAC;
$text-color-hover-breadcrumb: #69ABAC;

$backgroun-breadcrumb:#69ABAC;

$color-theme: rgba(105,171,172,1) !important;

$background-icon-list-sub-menu: white;

$background-hover-item-menu-sidebar: #CED14E;
$background-hover-item-menu-sub-item-sidebar: #CED14E;
$background-active-item-menu-sidebar: #CED14E;
$background-active-gradient-item-menu-sidebar:  #CED14E80 !important;

$color-text-sidebar: white;
$color-text-sidebar-items: white;
$color-text-sidebar-sub-items: white;
$color-text-sidebar-items-active: white;

$color-footer-table: #69ABAC;


$color-primary: #69ABAC;
$color-secondary: #CED14E;
$color-tertiary: #967DF0;
