//*mis estilos propios
//*posicionamiento

.end-1{right: 0.25rem;}.end-2{right: 0.5rem;}.end-3{right: 0.75rem;}.end-4{right: 0.1rem;}
.top-1{top: 0.25rem;}.top-2{top: 0.5rem;}.top-3{top: 0.75rem;}.top-4{top: 0.1rem;}

//todo: estilos para el calendario
.calendar-component{
   .calendar{
      .icon-calendar{
         background: #ddd;
         border-right: 1px solid #ddd;
         padding: 0.26rem 0.35rem;
         border-radius: 0 5px 5px 0;
      }
   }
}
:root {
   --width-1: 10px;
   --width-modern: 25px;
   --gray1: #2b2b2e;
   --primary: #4042a3;
   --secondary: #EEEFFF;
   --menu-w1: 15rem;
   --menu-w2: 15rem;
   --heigth-1: 3rem;
 }



.w-005x { width: calc((100% / 24)*0.5 - var(--width-1)) }
.w-01x { width: calc((100% / 24)*1 - var(--width-1)) }
.w-015x { width: calc((100% / 24)*1.5 - var(--width-1)) }
.w-02x { width: calc((100% / 24)*2 - var(--width-1)) }
.w-025x { width: calc((100% / 24)*2.5 - var(--width-1)) }
.w-03x { width: calc((100% / 24)*3 - var(--width-1)) }
.w-035x { width: calc((100% / 24)*3.5 - var(--width-1)) }
.w-04x { width: calc((100% / 24)*4 - var(--width-1)) }
.w-045x { width: calc((100% / 24)*4.5 - var(--width-1)) }
.w-05x { width: calc((100% / 24)*5 - var(--width-1)) }
.w-055x { width: calc((100% / 24)*5.5 - var(--width-1)) }
.w-06x { width: calc((100% / 24)*6 - var(--width-1)) }
.w-07x { width: calc((100% / 24)*7 - var(--width-1)) }
.w-075x { width: calc((100% / 24)*7.5 - var(--width-1)) }
.w-08x { width: calc((100% / 24)*8 - var(--width-1)) }
.w-09x { width: calc((100% / 24)*9 - var(--width-1)) }
.w-10x { width: calc((100% / 24)*10 - var(--width-1)) }
.w-11x { width: calc((100% / 24)*11 - var(--width-1)) }
.w-12x { width: calc((100% / 24)*12 - var(--width-1)) }
.w-13x { width: calc((100% / 24)*13 - var(--width-1)) }
.w-14x { width: calc((100% / 24)*14 - var(--width-1)) }
.w-15x { width: calc((100% / 24)*15 - var(--width-1)) }
.w-16x { width: calc((100% / 24)*16 - var(--width-1)) }
.w-17x { width: calc((100% / 24)*17 - var(--width-1)) }
.w-18x { width: calc((100% / 24)*18 - var(--width-1)) }
.w-19x { width: calc((100% / 24)*19 - var(--width-1)) }
.w-20x { width: calc((100% / 24)*20 - var(--width-1)) }
.w-21x { width: calc((100% / 24)*21 - var(--width-1)) }
.w-22x { width: calc((100% / 24)*22 - var(--width-1)) }
.w-23x { width: calc((100% / 24)*23 - var(--width-1)) }
.w-24x { width: calc(100% - var(--width-1)) }
