select {
  //background-image: url(flecha.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: initial !important;
  -moz-appearance: initial !important;
  -o-appearance: initial !important;
  appearance: initial !important;
}
select::-ms-expand {
  display: block; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}